/* 데스크탑 */
/*
@media screen and (max-width: 1799px) {
  * {
    border: 1px solid skyblue;
  }
  #HeaderBox {
    text-align: center;
  }
}
*/

/* 타블렛 */
/*
@media screen and (max-width: 1023px) {
  * {
    border: 1px solid sandybrown;
  }
  #HeaderBox {
    text-align: center;
  }
}
*/

/* 모바일 */
/*
@media screen and (max-width: 767px) {
  * {
    border: 1px solid green;
  }
  #HeaderBox {
    justify-content: space-between;
  }
} */
